*{
    margin: 0;

}
body{
    font-family:"Rubik", sans-serif ;
}
.yellow{
   position: relative;
   bottom: 5px;
    width: 22px;
    height: 22px;
    border-radius: 30px;
    background-color: rgb(217, 199, 6);
  
}
.hh h3 {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}
.prj h3{
    color: grey;
    
}
button{
    padding: 8px;
    border: none;
    outline: none;
    background-color: #fff;
    
}
.prf{
    border-radius: 50%;
   width: 500px;
   height: 550px;
   background-color: rgb(152, 152, 152);
   overflow: hidden;
    
}
@media(max-width:576px){
    .arng >div{
        padding-left: 0;
    }
}

.prj a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.prj a:hover{
    transform: scale(1.1);
}
.prj img{
    width: 30px;
}
@media (max-width:576px){
    .prf{
        width: 300px;
        height: 330px;
    }
}
.ball >div{
    height: 150px;
   width: 150px;
    border-radius: 160px;
    
    
}
.prf img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.abt{
    background-color: #F4A300;
}
.pjrrr{
    background-color: #FF3D30;
}
.cont{
    background-color: #8EDBDA;
}
.abt.pjrrr.cont:hover{
    background-color:#F3F3F3 ;
    border: 0.7 solid grey;
    transform: scale(1.1);
}
.hello h6{
    font-weight: 400;
}
.ball a{
    font-size: 30px;
    color: black;
}
.first{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.helo{
    font-size: 70px;
    font-weight: bold;
    font-family: "Kanit", sans-serif;
}
.contaoner-fluid{
    background-color: #F3F3F3;
}
@media(max-width:576px){
    .hello{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ball{
        display: flex;
         padding-left: 11px;
        justify-content: center;
        align-items: center;
    }
}
.abt-img{
    border-radius: 50%;
  
    height: 410px;
    background-color: grey;
    overflow: hidden;
     
}
.para{
    line-height: 35px;
}
.on1,.on2,.on3,.on4,.on5{
    height: 4px;
    background-color: grey;
    
}
.on5{
    width: 400px;
}
.on4{
    width: 300px;
}
.on3{
    width: 270px;
}
.on2{
    width: 250px;
}
.on1{
    width: 200px;
}
.skill{
    
    position: relative;
    top: 0;
    color: grey;
}

.react img{
    width: 50px;
}
.back{
    position: absolute;
    z-index: -1;
    right: 0;
    top: 80px;
    opacity: 0.7;
}

.v{
    border-radius: 8px;
    box-shadow: 0 8px 15px grey;
    height: 350px;
}

video{
    outline: none;
    border: none;
    
}
.top{
   
    background-color: #dcdcdc;
    position: sticky;
    top: 0;
}
.top button{
    background-color:  #dcdcdc;
}

.enl input{
    height: 40px;
    width: 270px;
    
}
@media (max-width:768px) {
    .enl input{
        height: 35px;
        width: 200px;
    }
    
}
@media(max-width:768px){
    .rond{
        width: 105px;
        height: 105px;
        background-color: #8EDBDA;
      
    }
}
.ggggg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.rond{
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: #F4A300;
    margin-left: 50px;
}
.rond input{
    border: none;
    outline: none;
    background-color: #F4A300;
    border-radius: 30px;
}
.rond input:hover{
    background-color: #F3F3F3;
    border: 0.7 solid grey;
}
.rond:hover{
    background-color: #F3F3F3;
}
.service{
    position: relative;
    left: 10;
    line-height: 50px;
    padding-top: 20px;
}
.service h5{
    padding: 10px;
    font-size: 18px;
}
.ggg{
    width: 400px;
    position: absolute;
    
    right: 10px;
    top: 40px;
  
}
.iii{
    width: 40px;
}
@media(max-width:768px){
    .ggg{
        position: absolute;
        right: 10px;
         top: 40px;
         opacity: 0.4;
    }
}
.service h5{
    font-family:"Quicksand",sans-serif ;
}
.skill h4{
    font-size: 21px;
}
.haha{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.haha a{
    text-decoration: none;
    color: rgb(28, 28, 28);
    font-family:"Quicksand",sans-serif ;
}
#nav-bar h3{
    font-weight: 300;
}
@media(max-width:768px){
    .haha{
        position: absolute;
        top: 70px;
        right: 0;
      
        display: none;
        flex-direction: column;
        border-radius: 10px;
        gap: 6px;
        width: 100px;
        height: 350px;
        background-color: #dddddd;
    }
    .haha button:hover{
        width: 92%;
        transform: scale(1.1);
        box-shadow: 0 0px 10px 1px grey;
       
    }
    .haha h3{
        display: none;
    }
}

@media(max-width:768px){
    #bar{
        display: flex;
        position: fixed;
        top: 5px;
        right: 5px;
    }
}
@media(min-width:768px){
    #bar{
        display: none;
    }
}
.clb{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}